.DS_Store
terradse.code-workspace
gcp/dse_ansHosts
gcp/dse_ec2IpList
gcp/genansinv.sh
gcp/LICENSE
gcp/README.md
gcp/runansi.sh
gcp/runterra.sh
gcp/ansible/ansible.cfg
gcp/ansible/dse_install.yml
gcp/ansible/hosts
gcp/ansible/opsc_install.yml
gcp/ansible/osparm_change.yml
gcp/ansible/group_vars/all
gcp/ansible/roles/datastax_pkg/tasks/main.yml
gcp/ansible/roles/datastax_pkg/vars/main.yml
gcp/ansible/roles/dse_common/tasks/main.yml
gcp/ansible/roles/dse_common/templates/seeds.j2
gcp/ansible/roles/dse_instbin/tasks/main.yml
gcp/ansible/roles/dse_updcfg/tasks/main.yml
gcp/ansible/roles/java8_inst/tasks/main.yml
gcp/ansible/roles/start_srvc/tasks/main.yml
gcp/ansible/roles/stop_srvc/tasks/main.yaml
gcp/resources/cluster.topology.png
gcp/terraform/ec2.tf
gcp/terraform/variables.tf
aws/ansible/hosts
aws/terraform/terraform.tfstate
